html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /*border: 1px solid grey;*/
}

html{
    font-size: 62.5%
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: black;
    margin: 0 5%;
}
.top{
    padding: 2%;
}
.right{
    position: relative;
    top: 6rem
}
h1{
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-weight: 500;
    font-size: 6rem;
}
h2, p, a{
    font-family: 'Roboto Mono', monospace;
}
h2{
    text-align: center;
    font-weight: 600;
    padding: 3% 0 3%;
}
.top p{
    text-align: center;
    font-weight: 600;
    padding-top: 1%;
}
a{
    text-decoration: none;
}
nav{
    padding: 2% 0;
}
nav a{
    display: inline-block;
    padding:1rem;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}
.orange{
    background-color: #ff764e;
    margin-left: 10%;
    width: 15%;
}
.orange:hover{
    background-color: red;
    color: black;
    width: 13%;
    transition-duration: 2s;
}
.blue{
    background-color: #5ed3eb;
    margin: 0 17%;
    width: 15%;
}
.blue:hover{
    background-color: green;
    color: black;
    width: 13%;
    transition-duration: 2s;
}
.yellow{
    background-color: #FFCD69;
    margin-right: 10%;
    width: 15%;
}
.yellow:hover{
    background-color: white;
    color: black;
    width: 13%;
    transition-duration: 2s;
}
.top{
    position: relative;
}
.left, .right{
    display: inline-block;
}
.left{
    width:35%;
    margin-left: 2%;
}
.left img{
    width: 80%;
    border-radius: 50%;
}
.right{
    width: 60%;
    position: absolute;
    bottom: 45%;
}
.content-info{
    background-color: #DDB9A3;
    color: white;
    text-align: center;
    margin: 0 1%;
}
.content-info p{
    padding: 1% 0;
    letter-spacing: 1.75px;
}
.image{
    text-align: center;
    padding-top: 2%;
}
.middle p{
    text-align: center;
    padding-bottom: 5%;
    font-weight: 500;
}
span{
    font-weight: 600;
}
footer{
    background-color: #F9E7DC;
}
footer img{
    width: 100%;
    height: 40vh;   
}